Area calculation

In [1]:
#Area of Rectangle
l = 12
b = 4
area_r = l*b
print(area_r)

48

In [2]:
#Area of Circle
r = 5
pi = 22/7
area_c = pi*r**2
print(area_c)
print(round(area_c,2))

78.57142857142857
78.57

In [3]:
#Area of Triangle
b= 10
h=5
area_t=0.5*b*h
print(area_t)
print(round(area_t,2))

25.0
25.0

In [4]:
#Area of Square
a = 10
area_s= a**2
print(area_s)

100

SIMPLE INTEREST

In [5]:
#Simple Interest
a=10000
b=10
c=5
si=a*b*c/100
print(si)

5000.0

Square and Cube of Number

In [6]:
#Square and Cube of Number 
a=10
Square=a**2
Cube=a**3
print("Square of Number :",Square)
print("Cube of Number :",Cube)

Square of Number : 100
Cube of Number : 1000

Creating a List

In [7]:

a = [1, 2, 3, 4, 5]

b = ['apple', 'banana', 'cherry']

c = [1, 'hello', 3.14, True]

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]

In [8]:
a = list((1, 2, 3, 'apple', 4.5))  
print(a)

[1, 2, 3, 'apple', 4.5]

In [9]:
a = [10, 20, 30, 40, 50]
print(a[2])    
print(a[-2])

30
40

In [10]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[:4])

['apple', 'banana', 'cherry', 'orange']

In [11]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[-4:-1])

['orange', 'kiwi', 'melon']

In [12]:
list = ["apple", "banana", "cherry"]
list[1] = "Mango"
print(list)

['apple', 'Mango', 'cherry']

In [13]:
list = ["apple", "banana", "cherry"]
list.append("Mango")
print(list)

['apple', 'banana', 'cherry', 'Mango']

In [14]:
a=["apple", "banana", "cherry"]
a.insert(1, "Mango")
print(a)

['apple', 'Mango', 'banana', 'cherry']

In [15]:
a=["apple", "banana", "cherry"]
b=["Dragonfruit","Guava","Grapes"]
a.extend(b)
print(a)

['apple', 'banana', 'cherry', 'Dragonfruit', 'Guava', 'Grapes']

In [16]:
a=["apple", "banana", "cherry"]
a.remove("banana")
print(a)

['apple', 'cherry']

In [17]:
x = a.copy()
y = x.copy()

In [18]:
x

['apple', 'cherry']

In [19]:
y

['apple', 'cherry']

In [20]:
y[0]= 'mango'
y

['mango', 'cherry']

In [21]:
a

['apple', 'cherry']

In [22]:
x

['apple', 'cherry']

# **Conditional Statements**

In [23]:
marks = int(input("Enter marks" ))

In [24]:
type(marks)
print(marks)

55

In [25]:
# Checking conditions
if marks > 90:
    print("Grade: A")
elif marks > 80:
    print("Grade: B")
elif marks > 70:
    print("Grade: C")
elif marks > 60:
    print("Grade: D")
else:
    print("Grade: F")

Grade: F

In [26]:
# Checking conditions
if marks > 90:
    print("Grade: A")
if marks > 80:
    print("Grade: B")
if marks > 70:
    print("Grade: C")
if marks > 60:
    print("Grade: D")
else:
    print("Grade: F")

Grade: F

# **Functions**

In [27]:
def basic_ar(num1=1, num2=1):
    s = num1+num2
    dif=num1-num2
    mul=num1*num2
    div=num1/num2
    return [s, dif, mul, div]

In [28]:
addition = basic_ar()

In [29]:
print(addition)

[2, 0, 1, 1.0]

In [30]:
type(addition)

list

# **Loop**

In [31]:
print("Hi")
print("Hi")
print("Hi")
print("Hi")
print("Hi")
print("Hi")
print("Hi")
print("Hi")
print("Hi")
print("Hi")

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

In [32]:
counter = 1
while counter<=100:
    print("Hii",counter, sep="-")
    counter=counter+1

Hii-1
Hii-2
Hii-3
Hii-4
Hii-5
Hii-6
Hii-7
Hii-8
Hii-9
Hii-10
Hii-11
Hii-12
Hii-13
Hii-14
Hii-15
Hii-16
Hii-17
Hii-18
Hii-19
Hii-20
Hii-21
Hii-22
Hii-23
Hii-24
Hii-25
Hii-26
Hii-27
Hii-28
Hii-29
Hii-30
Hii-31
Hii-32
Hii-33
Hii-34
Hii-35
Hii-36
Hii-37
Hii-38
Hii-39
Hii-40
Hii-41
Hii-42
Hii-43
Hii-44
Hii-45
Hii-46
Hii-47
Hii-48
Hii-49
Hii-50
Hii-51
Hii-52
Hii-53
Hii-54
Hii-55
Hii-56
Hii-57
Hii-58
Hii-59
Hii-60
Hii-61
Hii-62
Hii-63
Hii-64
Hii-65
Hii-66
Hii-67
Hii-68
Hii-69
Hii-70
Hii-71
Hii-72
Hii-73
Hii-74
Hii-75
Hii-76
Hii-77
Hii-78
Hii-79
Hii-80
Hii-81
Hii-82
Hii-83
Hii-84
Hii-85
Hii-86
Hii-87
Hii-88
Hii-89
Hii-90
Hii-91
Hii-92
Hii-93
Hii-94
Hii-95
Hii-96
Hii-97
Hii-98
Hii-99
Hii-100

In [33]:
for i in range(1,100):
    print("hii",i,sep="-")

hii-1
hii-2
hii-3
hii-4
hii-5
hii-6
hii-7
hii-8
hii-9
hii-10
hii-11
hii-12
hii-13
hii-14
hii-15
hii-16
hii-17
hii-18
hii-19
hii-20
hii-21
hii-22
hii-23
hii-24
hii-25
hii-26
hii-27
hii-28
hii-29
hii-30
hii-31
hii-32
hii-33
hii-34
hii-35
hii-36
hii-37
hii-38
hii-39
hii-40
hii-41
hii-42
hii-43
hii-44
hii-45
hii-46
hii-47
hii-48
hii-49
hii-50
hii-51
hii-52
hii-53
hii-54
hii-55
hii-56
hii-57
hii-58
hii-59
hii-60
hii-61
hii-62
hii-63
hii-64
hii-65
hii-66
hii-67
hii-68
hii-69
hii-70
hii-71
hii-72
hii-73
hii-74
hii-75
hii-76
hii-77
hii-78
hii-79
hii-80
hii-81
hii-82
hii-83
hii-84
hii-85
hii-86
hii-87
hii-88
hii-89
hii-90
hii-91
hii-92
hii-93
hii-94
hii-95
hii-96
hii-97
hii-98
hii-99

In [34]:
l1 = [1,2,3] 
t1 = (4,5,6)
abc = "hello"
de = 100.0

In [35]:
for i in l1:
    print(i)

1
2
3

In [36]:
for i in t1:
    print(i)

4
5
6

In [37]:
for i in abc:
    print(i)

h
e
l
l
o

In [38]:
for i in de:
    print(i)

TypeError: 'float' object is not iterable

In [ ]:
print()

# ** Write a program to print numbers from 10 to 1 in reverse order using for loop ** #

In [47]:
for i in range (10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

** Write a program to print numbers from 10 to 1 in reverse order using while loop **

In [53]:
i = 10
while i >= 1:  
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1